@font-face {
    font-family: 'Benton Gothic Regular';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-regular.eot');
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-regular.eot?#iefix') format('embedded-opentype'),
         url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-regular.woff') format('woff'),
         url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-regular.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Benton Gothic Regular Italic';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-regular-italic.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Benton Gothic Bold';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-bold.eot');
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-bold.eot?#iefix') format('embedded-opentype'),
         url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-bold.woff') format('woff'),
         url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-bold.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Benton Gothic Bold Italic';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-bold-italic.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Benton Gothic Black';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-black.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Benton Gothic Black Italic';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-black-italic.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Benton Gothic Condensed Regular';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-condensed-regular.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Benton Gothic Condensed Regular Italic';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-condensed-regular-italic.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Benton Gothic Condensed Bold';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-condensed-bold.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Benton Gothic Condensed Bold Italic';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-condensed-bold-italic.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Benton Gothic Condensed Black';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-condensed-black.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Benton Gothic Condensed Black Italic';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-condensed-black-italic.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Benton Gothic Light';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-light.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Benton Gothic Light Italic';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-light-italic.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Benton Gothic Medium';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-medium.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'Benton Gothic Medium Italic';
    src: url('https://s3.amazonaws.com/latimes-datadesk-template/fonts/0.5.0/benton-gothic-medium-italic.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

body { cyber
    padding: 0 0 30px;
}

a img{ border: none }

p {
	font-family: 'Benton Gothic Bold', Arial, sans-serif;
	font-weight: normal;
	margin: 8px 0;
}
option, label {
	font-family: 'Benton Gothic Regular', Arial, sans-serif;
}
#container {
/*	width: 1024px;
	margin: 10px auto 0 auto;
	overflow: hidden;*/
	width: 98%;
    margin: 0 auto;
}
#footer {
	padding-top: 35px;
	width: 98%;
    margin: 0 auto;
}
#footer p{
	font-size: 10px;
	line-height: 12px;
	margin: 0;
}
#footer img.logo{ float: right }

#footer img.gh{ width: 16px; height: 16px; margin-right: 5px; vertical-align: middle;}

#header{
/*	float: left;
	height: 68px;
	background-color: #444;
	width: 100%;
	border-right: 1px solid #999;
	border-left: 1px solid #999;*/
	width: 100%;
	margin-bottom: 15px;
}
#header h1{
/*	color: white;
	margin: 0;
	letter-spacing: .2em;
	text-align: right;*/
}

#header h1 span{
	color: #ff7200;
}

#header h3 {
	margin: 0 20px 0 0;
	color: #999;
	text-align: right;
}

#header p {
	margin: 5px 0 0 5px;
}
#header p a{
	color: white;
}

#column1 {
	width: 450px;
}
#column2 {
	width: calc(100% - 450px);
	margin-left: 450px;
	max-width: 756px;
}
#tools {
	/*width: 450px;*/
	/*height: 650px;*/
	float: left;
/*	border-left: 1px solid #999;
	border-bottom: 1px solid #999;*/
	/*overflow: hidden;*/
	background-color: #fff;
	/*position: relative;*/
	/*z-index: 999;*/
}
#map-container{ 
	/*position: fixed; */
	/*margin-left: 450px;
	width: calc(100% - 454px);*/
	height: 600px; 
	/*border: 1px solid #999; */
	overflow: hidden; 
	background-image: url(images/ajax-loader.gif); 
	background-position:center; 
	background-repeat:no-repeat;
}


.section {
	border-top: 1px solid #999;
    margin: 15px 5px;
    padding: 5px 0;
	display: block;
}

.section > p, #options > p, #scheme-name{
	padding: 0 5px;
	margin: 0 0;
}

#type label {
	display: inline-block;
	margin-right: 15px;
    padding-left: 5px;
}
#type input[type="radio"] {
	margin: 0;
}

#scheme{ 
/*	height: 200px;
	overflow: hidden;*/
}

.scheme-type{ margin-left: 5px; }

#number p {
	display: inline-block;
}

.score-icon{
	display: inline-block;
	width: 27px;
	height: 27px;
}

#ramps, #singlehue {
	padding: 0 5px;
	display: inline-block;
}

#singlehue { display: none; max-width: 78px; }

#scheme1 {
	float: left;
	margin-right: 5px;
	overflow: hidden;
}

#multi {
	margin-left: 5px;
}

#scheme2 {
	float: left;
	padding-left: 7px;
	border-left: 1px solid #999;
}

#single {
	margin-left: 10px;
}

#ramps p, #singlehue p{
	font-size: 12px;
	margin-left: 10%;
	width: 80%;
}

.ramp {
	float: left;
	padding: 5px 5px 0 5px;
	cursor: pointer;
}

.ramp:hover {
	background-color: #ccc;
}

.ramp.selected {
	background-color: #999;
}

.ramp rect, #color-chips rect {
	stroke: #333;
	stroke-width: .5px;
}

#colors { padding: 0; }
#colors > div { padding-top: 3px; }

#color-values, #color-chips {
	float: left;
	/*overflow: hidden;*/
	/*max-height: 100px;*/
}
#color-values, #color-chips{
	margin-left: 5px;
}

#system{
	/*position: absolute;
	top: 295px;
	left: 145px;*/
	/*width: 100%;*/
	/*height: 357px;*/
	/*padding-left: 5px;
	float: right;*/
	border-top: 1px solid #999;
}

#scheme-name {
	margin: 0;
}

#options {
/*	position: absolute;
	top: 295px;
	height: 357px;
	width: 142px;
	padding-left: 2px;*/
	/*border-top: 1px solid #999;*/
	/*border-right: 1px solid #999;*/
}

#options label {
	display: inline-block;
}
#options input.color {
    float: none;
    margin-right: 10px;
}
#layers, #background {
	width: calc(50% - 10px);
	display: inline-block;
	vertical-align: top;
}
#options input, #options label{
	margin:0 3px 0 0;
}


#color-system {
    display: inline-block;
    vertical-align: top;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 100px;
}

#color-values{ width: 80px; overflow:hidden; display: inline-block; vertical-align: top; }
#color-values textarea {
	margin: 0;
	color: #24662e;
	border: none;
	resize: none;
	height: 100%;
	width: 100px;
	font: 13px 'Droid Sans', sans-serif;
}



#filters, #layers, #background {
	margin: 5px 0 15px 5px;
}
#transparency-container {
	position: relative;
	height: 50px;
}
#transparency-container p{
	margin:0;
	position: absolute;
	left: 5px;
	bottom: 5px;
	width:100%;
	font-size: 11px;
}
#transparency-track{
	width: 90px;
	height: 1px;
	background-color: #eee;
	border-top: 1px solid #333;
	border-left: 1px solid #333;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	position: absolute;
	top: 20px;
	left: 5px;
}
#transparency-slider{
	position: absolute;
	width: 5px;
	height: 10px;
	left: 3px;
	top: 15px;
	background-color: #eee;
	border: 1px solid #999;
	cursor: pointer;
}
#transparency-slider:hover{
	background-color: #ccc;
}

#options input.color{ float: right; margin-right: 10px; }

#probe{
	position: absolute;
	display: none;
	background-color: rgba(50,50,50,.85);
	color: white;
}
#probe p{
	margin: 5px;
	font-size: 11px;
	font-weight: bold;
	line-height: 14px;
	color: #fff;
}

#learnmore{
	position: absolute;
	z-index: 9999;
	left: 50%;
	top: 0;
	width: 550px;
	margin-left: -275px;
	background-color: #fff;
	box-shadow: 0 0 15px #333;
	-webkit-box-shadow: 0 0 15px #333;
	-moz-box-shadow: 0 0 15px #333;
	border: 1px solid #666;
}
#learnmore-title, #learnmore #close{
	background-color: #999;
	color: white;
	margin: 0;
	padding: 5px 0 5px 15px;
	font-weight: bold;
}
#learnmore #content {
	margin: 15px;
	font-size: 12px;
	line-height: 15px;
}
#learnmore #close{
	float: right;
	margin-right: 15px;
	cursor: pointer;
}
#learnmore #close:hover{
	color: #333;
}
#mask {
	display: none;
	position: absolute;
	z-index: 1000;
	left:0;
	top:0;
	background-color: rgba(0,0,0,.4);
	width: 100%;
	height: 100%;
}

.further-reading h4{
	margin: 0;
	border-bottom: 1px solid #999;
}

.further-reading p, .further-reading p a{
	color: #669;
}

#export{
	/*margin-left: 450px;
    width: calc(100% - 454px);*/
/*	position: absolute;
	left: 0;
	top: 295px;
	height: 354px;
	width: 265px;
	background-color: white;
	border: 1px solid #999;
	border-left: none;
	border-right: none;*/
}

#export #tab{
	font-size: 15px;
	line-height: 30px;
	height: 100px;
	width: 30px;
	float: right;
	margin: -1px -31px 0 0 !important;
	border: 1px solid #999;
	border-left: none;
	background-color: white;
	cursor: pointer;
}

#export #tab:hover{
	font-weight: bold;
}

#export #tab > div{
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	text-indent: 25px;
}

#export p{
	margin: 0 0 5px 0;
}

#download p{
	margin: 0 0 10px 0;
}

#download a{
	display: block;
	color: #33c;
	margin: -7px 0 0 10px;
}
#export a{
	color: #33c;
}

#download a{
	margin-left: 0;
}
#export input{
	width: 230px;
	margin: 0;
}

#selected-data{
	width: 100%;
	height: 100%;
}
#selected-data h2{
	position: absolute;
	top: -6px;
	left: 5px;
	width: 260px;
	margin-bottom: 2px;
	background-color: rgb(68, 68, 68);
	color: #FFF;
	text-indent: 5px;
	font-size: 13px;
	float: right;
}

#selected-data h3{
	/*color: #FF4500;*/
	font-size: 13px;
	margin-bottom: 0;
	text-indent: 10px;
	margin-top: 5px;
}
#selected-data > div{
	width: 250px;
	margin-right: 15px;
	margin-bottom: 5px;
}
#perma{
	float: left;
	margin-top: 25px;
}
#adobe{
	float: left;
}
#export .copy input{
	margin-top: 5px;
}
#copy-json{ float: left; }
#copy-css{ float: left; }
#export #copy-json p{ margin-bottom: 0; }
#export #copy-css p{ margin-bottom: 0; }
#master-data{
	width: 530px;
	height: 210px;
}
#master-data h2{
	position: absolute;
	top: 145px;
	left: 5px;
	width: 520px;
	margin-bottom: 2px;
	background-color: rgb(68, 68, 68);
	color: white;
	text-indent: 5px;
	font-size: 13px;
	float: right;
}
#master-data h3{
	/*color: orange;*/
	font-size: 13px;
	margin-bottom: 0;
	text-indent: 10px;
	margin-top: 10px;
}
#excel{
	width: 250px;
	height: 90px;
}
#css{
	width: 250px;
	height: 90px;
}
#download #css a{
	margin-bottom: 5px;
}
#arc{
	width: 250px;
	margin-bottom: 30px;
}
#json, #js, #css, #carto{
	width: 250px;
}
.left {
	float: left;
}
.right {
	float: right;
}

a{ text-decoration: none; }
a:hover{ text-decoration: underline; }
#overlays{ pointer-events: none; }
.svg-container { position: absolute; width: 100%; /*height: 100%;*/ overflow: hidden; }
#terrain-img{ position: absolute; }
#road-lines{ fill: none; stroke: #f33; stroke-width: 1.5px; }
#county-map{ fill: #999; }
#county-map g { stroke: #000; stroke-width: .50px;  stroke-opacity:0.7; }
